body { margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
h1 {
 font-size: 50px;
}

.baymax-text {
    color: red;
}
.des-1 {
    font-weight: bold;
    font-size: large;
}

.button-hire-me {
    background-image: linear-gradient(red, tomato
);
    color: white;
    border: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    font-weight: 700px;
    cursor: pointer;
    
}
.middle-section{
display: flex;
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
margin-bottom: 100px;
}
.baymax-image {
    width: 700px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}


.dream-big {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mark {
    color: red;
}

